@charset "utf-8";

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
ul,
ol,
li,
dl,
dt,
dd,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
fieldset,
form,
label,
legend,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0
}

body {
  position: relative;
  line-height: 1.5em;
  font-size: .75em;
  font-family: 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0
}

fieldset,
img,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
hr {
  border: 0 none
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

blockquote,
q {
  quotes: 'none'
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

img {
  vertical-align: middle
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.blind:before {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  content: '\00a0';
}