@charset "utf-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

ul,ol {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none;
}

em,dfn,i {
  font-style: normal
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: none
}

input,select {
  vertical-align: middle
}

input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0
}

input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner {
  outline: 0
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
  display: none
}

button::-moz-focus-inner,select::-moz-focus-inner {
  outline: 0
}

html {
  font-size: 62.5%
}

body {
  background-color: #f3f3f3;
  font-family: "Noto Sans KR",-apple-system,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 300
}

#container {
  max-width: 128rem;
  min-width: 64rem;
  margin: 0 auto
}

a,img,button {
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.blind {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden
}

.intFooter .footerWrap {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}

.intFooter .footMenuArea ul {
  display: flex;
  justify-content: space-between;
}

.intFooter .footMenuArea li {
  flex-grow: 1;
  padding: 0 8px;
}

.intFooter .footMenuArea li:first-child {
  padding-left: 0;
}

.intFooter .footMenuArea li:last-child {
  padding-right: 0;
}

.intFooter .footTelArea {
  margin-top: 18px;
  text-align: center;
}

.intFooter .footTelArea li {
  display: inline-block;
  position: relative;
  padding: 0 9px;
  font-size: 12px;
}

.intFooter .footTelArea li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 12px;
  background: #666;
}

.intFooter .footTelArea li:first-child:before {
  display: none;
}

.intFooter .footMenuArea li a {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #444;
  background-color: #e5e5e5;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
}

.intFooter .footInfoArea {
  margin-top: 20px;
  text-align: center;
}

.intFooter .footInfoArea .btnInfo {
  position: relative;
  display: inline-block;
  padding: 0;
  padding-right: 15px;
  font-size: 10px;
  color: #666;
  vertical-align: top;
  border: 0;
  background: transparent;
}

.intFooter .footInfoArea .btnInfo.open:before {
  transform: rotate(-135deg);
}

.intFooter .footInfoArea .btnInfo span:first-child:before {
  display: none;
}

.intFooter .footInfoArea .btnInfo:after {
  content: "";
  margin: 0 0 -1px 0;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.intFooter .footInfoArea .btnInfo:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  z-index: 1;
  transform-origin: 70% 70%;
  transition: all .3s;
}

.intFooter .footInfoArea .footInfo {
  margin-top: 25px;
}

.intFooter .footInfoArea .footInfo dl {
  overflow: hidden;
  margin-top: 5px;
  text-align: left;
  color : #808080;
}

.intFooter .footInfoArea .footInfo dt {
  width: 87px;
  float: left;
}

.intFooter .footInfoArea .footInfo dd {
  padding-left: 87px;
}

.intFooter .footInfoArea .footInfo dd span {
  display: inline-block;
}

.intFooter .footInfoArea .bar {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #666;
  vertical-align: middle;
  margin: 0 5px;
}

.intFooter .footInfoArea .footInfo a {
  color: #666;
}

.intFooter .footPolicy {
  margin-top: 18px;
}

.intFooter .footPolicy ul {
  margin-left: -6px;
}

.intFooter .footPolicy li {
  display: inline-block;
  padding: 0 6px;
  border-left: 1px solid #e5e5e5;
}

.intFooter .footPolicy li:first-chlid {
  border-left: 0;
}

.intFooter .footPolicy li a {
  color: #666;
}

.intFooter .footNotice {
  margin-top: 17px;
  text-align: center;
  color: #666;
}

.intFooter .footNotice p {
  font-size: 9px;
}
